In [1]:
#Pandas
#For Data Manipulation and Analysis    
#For Working with Tabular Data
#Can be used to manage CSV and Excel Files
import pandas as pd

In [2]:
import numpy as np

In [3]:
box = {
    "box_height":np.random.randint(20,100,5),
    "box_weight":np.random.randint(20,200,5),
    "box_depth":np.random.randint(40, 150, 5)
}

In [4]:
df = pd.DataFrame(box)

In [5]:
print(df)

   box_height  box_weight  box_depth
0          83         102         75
1          89          93        137
2          36         102         76
3          22          35        120
4          96         140        116

In [6]:
#Taking top 4 values from the head
df.head(n=4)

   box_height  box_weight  box_depth
0          83         102         75
1          89          93        137
2          36         102         76
3          22          35        120

In [7]:
df.head()

   box_height  box_weight  box_depth
0          83         102         75
1          89          93        137
2          36         102         76
3          22          35        120
4          96         140        116

In [8]:
df.columns

Index(['box_height', 'box_weight', 'box_depth'], dtype='object')

In [9]:
#Creating a CSV (Comma Separated) File
df.to_csv('box_data.csv')

In [10]:
#Read a DataFrame
df = pd.read_csv('box_data.csv')

In [11]:
df.head()

   Unnamed: 0  box_height  box_weight  box_depth
0           0          83         102         75
1           1          89          93        137
2           2          36         102         76
3           3          22          35        120
4           4          96         140        116

In [12]:
df.drop(columns = ['Unnamed: 0'])

   box_height  box_weight  box_depth
0          83         102         75
1          89          93        137
2          36         102         76
3          22          35        120
4          96         140        116